@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url("../assets/Roboto-Regular.ttf");
}

* {
    font-family: "Roboto", serif;
    font-size: 16px;
}

html {
    width: 380px;
}

body {
    @apply
    m-0
    bg-wh-main-bg
    text-wh-main-text-color
    w-[380px]
    box-border;

}

.header-title {
    @apply
    mt-2
    mb-2
    mx-4
    text-lg;
}

.hr {
    @apply
    bg-wh-main-text-color
    h-px
    bg-wh-main-text-color
    w-full;
}

.container {
    @apply
    py-3
    px-4;
}

.section-title {
    @apply
    pb-2;

    .action-icon {
        @apply
        cursor-pointer;

    }
}

.color-input {
    flex-basis: calc(50% - .25rem);
}

.color-bar {
    @apply
    mt-2
    flex;

    .color-block {
        @apply
        first:rounded-l
        last:rounded-r
        w-20
        h-8;
    }
}

.section-card {
    @apply
    bg-wh-card-bg
    rounded
    pt-2
    pb-3
    px-4
    mb-3;
}
