@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url("../assets/Roboto-Regular.ttf");
}

:root {
    --main-background: #F0F0F0;
    --main-card-background: #FFF;
    --main-text-color: #424649;
    --black-04: rgba(0, 0, 0, .4);
}

* {
    font-family: "Roboto", serif;
}

html {
    width: 380px;
}

body {
    @apply
    m-0
    bg-wh-main-bg
    text-wh-main-text-color
    w-[380px]
    box-border;

}

.header-title {
    @apply
    mt-2
    mb-2
    mx-4
    text-lg;
}

.hr {
    @apply
    bg-wh-main-text-color
    h-px
    bg-wh-main-text-color
    w-full;
}

.container {
    @apply
    py-3
    px-4;
}

.section-title {
    @apply
    pb-2
}

.section-card {
    @apply
    bg-wh-card-bg
    rounded
    pt-2
    pb-3
    px-4
    mb-3;
}
