@font-face {
    font-family: "Roboto";
    src: url("../assets/Roboto-Regular.ttf");
}

:root {
    --main-background: #F0F0F0;
    --main-card-background: #FFF;
    --main-text-color: #424649;
    --black-04: rgba(0, 0, 0, .4);
}

* {
    font-family: "Roboto", serif;
}

html {
    width: 380px;

}

body {
    margin: 0;
    background: var(--main-background);
    color: var(--main-text-color);
    width: 380px;

    /*expected height*/
    /*---------------*/
    /*height: 600px;*/

    /*dev styles*/
    /*---------------*/
    /*border: 1px solid black;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    box-sizing: border-box;
}

.header-title {
    margin: 8px 16px 4px 16px;
    font-size: 1.25rem;
}

.hr {
    height: 1px;
    background: var(--main-text-color);
    width: 100%;
}

.container {
    margin: 12px 16px;
}

.section-title {
    padding-bottom: 8px;
}

.section-card {
    background: var(--main-card-background);
    border-radius: 4px;
    padding: 8px 16px 12px 16px;
    /*display: block;*/
    min-width: 0;
    box-sizing: border-box;
    flex-shrink: 1;
    flex-grow: 0;
}

.section_px-to-rem_flex {
    display: flex;
    gap: 8px;
}

.section_px-to-rem_flex {
    display: flex;
    gap: 8px;
}

.section_px-to-rem_flex {
    display: flex;
    gap: 8px;
}

.section_px-to-rem_flex .w-input input {
    width: 92px;
}