.wInput {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid var(--main-text-color);
    border-radius: 4px;
}

.wInput input {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: var(--main-text-color);
    font-size: .875rem;
    padding: 0;
    margin-right: 8px;
}

.wInput input::-webkit-outer-spin-button,
.wInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wInput input[type=number] {
    -moz-appearance: textfield;
}

.copyIcon {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.appendText:hover .copyIcon {
    display: block;
}

.appendText:hover .text {
    visibility: hidden;
}